---
- hosts: gehan-bramble
  gather_facts: false
  remote_user: pi
  become_user: root
  ignore_errors: true
  # accelerate: true
  # accelerate_port: 10000
  vars:
    img_dir: /home/pi/images
    local_dir: /home/pi/gehan-bramble-images

  tasks:
      
   - name: Get file name(s)
     # local_action:
     #   shell rsh -l pi "{{ inventory_hostname }}" "(cd {{ img_dir }}; find . -maxdepth 1 -type f) | cut -d '/' -f2 && (echo Success >&2)"
     shell: "(cd {{ img_dir }} && find . -maxdepth 1 -type f) | cut -d '/' -f2 && (echo Success >&2)"
     become: no
     register: files_to_copy
     changed_when: "'Success' in files_to_copy.stderr"

   - debug:
       msg: "Files_to_copy are {{ files_to_copy.stdout_lines }} and their length is {{ files_to_copy.stdout_lines | length }} and the comparison is {{ files_to_copy.stdout_lines | length | int >=1 }}"

   - name: Get file date.
     local_action:
       shell basename {{ item }} | cut -d'_' -f2 | cut -d'.' -f1 | cut -d'-' -f1-3
     register: folder
     with_items:
       "{{ files_to_copy.stdout_lines }}"

   - name: Pull with rsh/ssh and rsync from chronos
     synchronize:
      src: "{{ img_dir }}/"
      dest: "{{ local_dir }}/{{ folder.results[0].stdout }}/"
      mode: pull
      rsync_opts:
        - "--remove-source-files"
        - "--timeout=30"
     when: files_to_copy['stdout_lines'] | length | int >= 1
     with_items: "{{ files_to_copy.stdout_lines }}"
     register: sync_command

#   - mail:
#      host: smtp.gmail.com
#      port: 587
#      username: gehan.bramble@gmail.com
#      password: #password
#      to: gehan.bramble@gmail.com
#      subject: {{inventory_hostname}}
#      body: sync_command.stdout_lines
#     when: "'Fail' in sync_command.stderr"

      
