---
- hosts: gehan-bramble
  gather_facts: False
  remote_user: pi
  become: yes
  vars:
    utmp: false
    change_utmp: false
    use_dns: false
    change_dns: false
    restart_ssh: false
    timezone: US/Central
    timezone_change: true
    cron_add: false
    cron_remove: false
    python_script: true
    
  tasks:

    - name: Restart ssh service on all PIs
      command: systemctl restart ssh.service
      when: restart_ssh
      
    - name: Change timezone
      shell: "echo {{ timezone }} | tee /etc/timezone > /dev/null"
      become: yes
      when: timezone_change

    - name: Reconfigure dpkg
      command: dpkg-reconfigure -f noninteractive tzdata
      become: yes
      when: timezone_change

    - name: Send camera_single.py to the rPIs.
      copy:
        src: /home/pi/gehan-bramble/camera_single.py
        dest: /home/pi/camera_single.py
      become: no
      when: python_script
      
    - name: Check if camera_single.py exists
      stat:
        path: /home/pi/camera_single.py
      register: cam_single
      
    - name: Change camera_single.py attributes from the rPIs.    
      file:
        path: /home/pi/camera_single.py
        owner: pi
        group: pi
        mode: "u+x"
      become: yes
      when: cam_single.stat.exists

  handlers:
    - name: restart ntp
      service: name=ntp state=started enabled=yes

    - name: reload ntp
      service: name=ntp state=reloaded
