---
- hosts: gehan-bramble
  gather_facts: False
  remote_user: pi
  ignore_errors: True

  tasks:
    - name: Take picture on the raspberry pi.
      shell: python /home/pi/camera_single.py && echo Success
      register: command_result
      changed_when: "'Success' in command_result.stdout"
      slack:
        when: "'Success' not in command_result.stdout"
        token: #enter token
        channel: gehan-lab
        msg: '{{ inventory_hostname }} image capture failure'